{
    frankenphp
    order php_server before file_server
}

:{$PORT:80} {
    root * /app/public
    encode zstd gzip

    log {
        output stdout
    }

    # Arquivos estáticos servidos diretamente
    file_server

    # Processamento PHP (Symfony)
    php_server
}
